{% extends 'base.html.twig' %}

{% block body %}
    <h1>My details</h1>

    {% block content %}
        <div>Name: {{ myDetails.name }}</div>
        <div>Email: {{ myDetails.emailAddress }}</div>
        <div>Display name: {{ myDetails.displayName }}</div>
        {% for avatarUrl in myDetails.avatarUrls %}
            <div><img src="{{ avatarUrl }}"/></div>
        {% endfor %}
    {% endblock %}
{% endblock %}